<div class="container">
    <h1 class="text-center mt-5">The Diversity We Provides..</h1>


    <div class="row p-5 ">



        <div class="col-lg-4 col-md-12 col-sm-12">


            <div class="card d" style="width: 18rem;">
                <img src="https://i.postimg.cc/jqw3rqvg/best-luxury-and-most-exclusive-hotels-brands-in-the-world-1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-center mb-3 mt-2">Ultra Preminum</h3>
                    <p class="card-text">Provides the most luxurious stay of the city, with a commendable service and
                        non-replacable facilities...</p>
                        <div class="text-center"><a (click)="UltraPremium()" class="btn btn-success mb-2">Yes We Decided</a></div>
                </div>
            </div>


        </div>



        <div class="col-lg-4 col-md-12 col-sm-12">


            <div class="card d" style="width: 18rem;">
                <img src="https://i.postimg.cc/YSt2JsHR/nithit-teeraworawit-Ttv-LUn5a-J8-unsplash-scaled.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-center mb-3 mt-2">Premium</h3>
                    <p class="card-text">The bset choice when you need to enjoy in star facility with in the heart of
                        the city... </p>
                        <div class="text-center"><a (click)="premium()" class="btn btn-success mb-2">Yes We Decided</a></div>
                    </div>
            </div>


        </div>



        <div class="col-lg-4 col-md-12 col-sm-12">


            <div class="card d" style="width: 18rem;">
                <img src="https://i.postimg.cc/W1MQcppL/4855596-the-chow-kit-hotel-kuala-lumpur-malaysia.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-center mb-3 mt-2 ">Standard</h3>
                    <p class="card-text">If you are bother about budget friendly stay in a well organized hotel, we
                        would reccomond it...</p>
                        <div class="text-center"><a (click)="standard()" class="btn btn-success mb-2">Yes We Decided</a></div>
                    </div>
            </div>


        </div>




    </div>

</div>