<div class="container p-5">

    <div class="bg-warning p-5" style="border-radius: 30px;">

        <h1 class="text-center text-danger">We Are...</h1>

        <div class="mt-5">
            Welcome to the website of TRAVE-LH-OST, a Tour-operator and travel agent in Kerala. We are
            licensed by the Ministry of Tourism Government of Kerala to operate Tours to Kerala which include culture
            tours, adventure tours and trekking in Kerala, for foreigners and Indians. Our License Number is 6150



            Our main aim is to provide quality service to you at a very reasonable cost. We promote Kerala as a safe and
            the most enjoyable secrets of Asia. Our tours are specially designed to give comfort and a variety of things
            to
            do. We take special care of our clients during their Travel in Kerala, by providing them a very personal
            touch. Our Guides & Tour managers are trained to form a very friendly relation with tourists.



            TRAVE-LH-OST invites you to come to our fabulous country where men and the mountains meat. We promise you
            the most pleasant tour of your life. Our hard work in designing and operating your tour will definitely
            please
            you. Just spare a minute and send us an email to advise how much time you can spend in Kerala and what
            Budget
            you expect to use . We will tailor a program which will meet all your requirements.

        </div>


        <div class="mt-5">

            Travel & Culture is an owner managed company having offices in Kerala, Tamilnadu, Delhi & Dubai. Company was
            established in 1997 with set of carefully selected and trained personnel who hold years of experience in the
            travel & tourism business, We boast to have handled several expedition large & small tours we are also
            possessing own Computer facilities for booking on direct access of all Airlines hotels & Car rentals.

            We have business partners in many countries of the world including the most reputed operators in USA & UK.
            We
            have also succeeded in developing an Organization Committed to meeting the Travel requirement of leading
            Multinational Companies Operating in Pakistan & abroad.
        </div>

    </div>





    <br>


    <div class="p-5 bg-secondary mt-5" style="border-radius: 30px;">
        <h1 class="text-center text-warning"> Our vision</h1>

        <div class="mt-5 ">
            To be the leader in travel trade in the Indian subcontinent region
            Mission Statement

            TRAVE-LH-OST Services operates all types of tours through our experiences & committed team and latest
            technologies. We cater for our customers unique tours with highest quality service keeping the local
            environment
            and culture intact and sustainable.
            At present, Company deals in the following services.
        </div>
    </div>





    <div class="text-center bg-success mt-5" style="border-radius: 30px;">
        <div class="container p-5 w-50">
            <h6>
                TRAV-LH-OST Services

            </h6>
            <h6>
                Suite 220A Panorama Center MG Road . Kochi. Kerala. 75530

            </h6>
            <h6>
                Office Phone numbers +91 2235-212345242, +91-452-124536286 <br>

            </h6>
            <h6>
                Fax Number: +92-21-35218097

            </h6>
            <h6>
                Email : info@Travelhost.com

            </h6>
        </div>

    </div>


<div class="text-center mt-5">
        <button (click)="letsgo()" type="submit" class="btn btn-warning mt-5 loginbut w-25 ">Let's Go</button>
    
</div>





</div>