



<div class="div">

</div>




<div class=" text-center">
    <button class="btn btn-warning mt-5 buttick w-50" routerLink="/ticketconf">Show Your Cab Bookings</button> <br>
    <button class="btn btn-warning mt-5 w-50" routerLink="/hticket">Show Your Hotel Bookings</button> <br>
    <button class="btn btn-warning mt-5 w-50" routerLink="/booking">Book More</button> <br>
    <button (click)=" deleteAc()" class="btn btn-warning mt-5 w-50">Delete Your Account</button> <br>
    <button (click)=" logOut()" class="btn btn-warning mt-5 w-50"  >Log Out</button> <br>
   
</div>

<div class="text-center mt-5 mb-5">


</div>
