<div class="bg text-center">



    <div>
        <h1 class="text-center p-5 head">For Such Places You Need Such Plans...</h1>
    </div>






    <div class="row bg1">
        <div class="col-6 img1 ">






        </div>
        <div class="col-6 des p-5 text-danger">
            <h1>Fasten Your Seat Belt...</h1>
            <h1>It’s in the Drive
                Let’s go places...</h1>
            <button class="btn btn-warning mt-5 buttick w-25 text-center" routerLink="/ticket" >Book Your Cab</button> <br>

        </div>
    </div>




    <div class="row bg2 ">

        <div class="col-6 des p-5 text-secondary ">
            <h1>Stay once, carry memories forever...</h1>
            <h1>BE your next space...</h1>
                <button class="btn btn-warning mt-5 buttick w-25 text-center" routerLink="/hotelcat" >Book Your Room</button> <br>

        </div>

        <div class="col-6 img2 ">






        </div>
        
    </div>



    <button (click)=" logOut()" class="btn btn-danger mt-5 w-25 mb-5">Log Out</button> <br>

</div>